@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

$--main-color:#8e44ad;
$--red:#e74c3c;
$--light-color:#666;
$--light-bg:#f5f5f5;
$--black:#2c3e50;
$--white:#fff;
$--box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
$--border:0.2rem solid $--black;

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: $--light-bg;
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading{
    text-align: center;
    font-size: 3rem;
    color: $--black;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.message{
    position: sticky;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: $--white;
    border: $--border;
    box-shadow: $--box-shadow;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 1000;
    max-width: 1200px;
    animation: fadeIn 0.4s cubic-bezier(0.3,1.41,0.4,1.46);

    span{
        font-size: 2rem;
        color: $--black;
    }

    i{
        cursor: pointer;
        font-size: 2.5rem;
        color: $--red;

        &:hover{
            color: $--black;
        }
    }
}

@keyframes fadeIn {
    0%{
        transform: scale(0.5) translateY(1rem);
    }
}

.btn,.option-btn{
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    color: $--white;
    text-align: center;
}

.btn{
    background-color: $--main-color;

    &:hover{
        background-color: $--black;
    }
}

.option-btn{
    background-color: $--black;

    &:hover{
        background-color: $--main-color;
    }
}

.form-container{
    form{
        margin: 0 auto;
        max-width: 50rem;
        border: $--border;
        background-color: $--white;
        box-shadow: $--box-shadow;
        padding: 1.5rem;
        padding-top: 1rem;

        p{
            padding-top: 1rem;
            font-size: 1.8rem;
            color: $--light-color;

            span{
                color: $--red;
            }
        }

        .box{
            width: 100%;
            border-radius: 0.5rem;
            background-color: $--light-bg;
            padding: 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            margin: 1rem 0;
            border: $--border;
        }
    }
}

.paylist{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 28rem);
        gap: 1.5rem;
        align-items: flex-start;
        justify-content: center;

        .box{
            border: $--border;
            border-radius: 0.5rem;
            background-color: $--white;
            box-shadow: $--box-shadow;
            text-align: center;

            .album{
                margin: 2rem;
                border-radius: 50%;
                object-fit: contain;
                height: 15rem;
                width: 15rem;
            }

            .name{
                font-size: 2rem;
                color: $--black;
            }

            .artist{
                margin: 0.5rem 0;
                font-size: 1.8rem;
                color: $--main-color;
            }

            .flex{
                margin-top: 1.5rem;
                border-top: $--border;
                display: flex;

                & > *{
                    flex: 1;
                    padding: 1.5rem;
                    font-size: 1.6rem;
                    cursor: pointer;
                }

                a{
                    border-left: $--border;
                }

                i{
                    margin-right: 0.8rem;
                    color: $--main-color;
                }

                span{
                    color: $--light-color;
                }
            }

        }

        .more-btn{
            padding: 1.5rem;

            .btn{
                margin-top: 0;
            }
        }
    }
}

.music-player{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;

    #close{
        position: absolute;
        top: 2rem; right: 2.5rem;
        cursor: pointer;
        color: $--white;
        font-size: 5rem;
        transition: 0.2s linear;

        &:hover{
            transform: rotate(90deg);
        }
    }

    .box{
        background-color: $--white;
        border-radius: 0.5rem;
        width: 40rem;
        text-align: center;

        .album{
            margin: 2rem;
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            animation: beat 2s bezier(0.3,1.41,0.4,1.46) infinite;
        }

        .name{
            font-size: 2rem;
            color: $--black;
        }

        .artist{
            margin: 0.5rem 0;
            font-size: 1.8rem;
            color: $--main-color;
        }

        .music{
            border-top: $--border;
            width: 100%;

            &::-webkit-media-controls-enclosure{
                background: none;
                border-radius: 0;
            }
        }
    }
}

@keyframes beat {
    0%, 100%{
        transform: scale(0.5);
    }50%{
        transform: scale(1);
    }
}